/* PORTFOLIO */
:root {
  --animation: linear-gradient(90deg, maroon, #000080);
}

body {
  background: linear-gradient(100deg, lightcyan, skyBlue);
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
}

section {padding-top: 5rem;}

h2 {font-weight: bold;}

nav {
  background-color: #051367; 
  border-bottom: 4px solid #DFF6FF;
}

/* .close {
  position: absolute;
  margin: 45px 49%;
  text-decoration: none;
  background-color: gray;
  color: black;
  border: 3px solid white;
  font-size: 20px;
  padding: 5px;
  border-radius: 20%;
}

#sign-up {
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: .3s;
}

#sign-up:target {
  color: white;
  position: fixed;
  overflow: hidden;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .8);
} */

header {
  padding: 30px;
  background-color: #2D31FA;
  color: white;
  box-shadow: 0 0 11px 6px rgba(0, 0, 0, .6), 0 0 11px 6px rgba(255, 255, 255, .6);
}

header .profil{
  width: 230px;
  height: 230px;
  margin-top: 65px;
  border-radius: 50%;
  border: 4px solid black;
  box-shadow: 4px 4px 10px rgba(255, 255, 255, .8);
}

header h1 {
  margin-top: 30px;
  text-shadow: 2px 2px 2px black;
}

#about {
  width: 70%;
  margin: 200px auto 360px;
}

#skill {
  width: 70%;
  margin: 200px auto 360px;
}

p {
  flex-grow: 1;
}

.skill {
  margin-top: 30px;
  width: 100%;
}

.kotakhtml1 {
  font-size: 15px;
  font-weight: 600;
  display: flex;
}

.kotakhtml2 {
  display: flex;
  height: 30px;
  border-radius: 40px;
  border: 4px solid white;
  box-shadow: 0 0 4px 5px rgba(0, 0, 0, .6), 0 0 11px 6px rgba(255, 255, 255, .6);
}

.item {
  border-radius: 40px;
  flex-basis: 55%;
  background-image: var(--animation);
  background-size: 300%;
  animation: animation-skill 3s infinite alternate;
}

@keyframes animation-skill {
  /* 0% {
    flex-basis: 0%;
  }
  
  100% {
    flex-basis: 55%;
  } */
  
  0% {
      background-position: left;
  }
  100% {
      background-position: right;
  }
}

#sertifikat {
  padding: 30px;
  margin-bottom: 230px;
  background-color: #2D31FA;
  color: white;
  box-shadow: 0 0 11px 6px rgba(0, 0, 0, .6), 0 0 11px 6px rgba(255, 255, 255, .6);
}

.card {
  color: black;
}

.btn { background-color: #2D31FA; color: white; }

footer {
  margin-top: 230px;
  padding: 30px;
  background-color: #DFF6FF;
  border-top: 4px solid #051367;
}

footer a {
  margin: 5px 5px;
  text-decoration: none;
}


/* .huruf-password {
  Display: grid;
  Justify-content: center;
} */


.logo {
  width: 25px;
  filter:drop-shadow( 2px 3px 1px rgba(0, 0, 0, .8));
}
/* AKHIR PORTFOLIO */




/* PENDAFTARAN */

/* .judul-daftar {
  text-align: center;
}
.biodata {
  text-align: left;
} */

/* AKHIR PENDAFTARAN */



/* LUPA PASSWORD */

/* .judul-lupa {
  text-align: center;
} */

/* AKHIR LUPA PASSWORD */



/* GANTI PASSWORD */

/* .judul-ganti {
  text-align: center;
}

.ganti-password {
  display: grid;
  justify-content: center;
}
------------------------------------------------------------------

body {
  background: linear-gradient(100deg, gray, white);
  padding: auto;
} */

/* Akhir GANTI PASSWORD */